body {
    font-family: 'Roboto';
}

h2 {
    font-family: 'Poppins';
    text-align: center;
    padding: 2%;
}


p {
    font-family: 'Roboto';
    color: gray;
}

/* Container */
.container {
    padding: 3% 15%;
}

.carousel-inner {
    padding: 2%;
}
 
/* Title */
.title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.8;
}

.title1 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1.5rem;
}

/* Navigation Bar */
.navbar {
    font-family: 'Poppins';
    font-weight: 100;
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Roboto';
}
/* Buat Navbar bisa Fixed (Stay diatas) */
.fixed-top { 
    padding: 70%;
}

/* Buttons */
.button {
    margin: 5% 3% 5%;
    margin-left: 0;
}

.btn-outline-success {
    font-family: 'Poppins';
    font-weight: lighter;
}

/* Image */
.title-image {
    width: 100%;
    height: 100%;
}

.news-image {
    width: 100%;
    height: 55%;
    margin: 0 0 5% 0;
}

.promotion-image {
    width: 50%;
    height: 13,5%;
}

.location-image {
    width: 90%;
    height: 44%;
}

/* Label Produk Unik */
div.image span{
    position: absolute;
    left: 32%;
    top: 51%;
    color: yellow;
    font-family: 'Poppins';
    font-size: 1.2rem;
    font-weight: 600;
}

.image-label {
    width: 105%;
    height: 10%;
    position: absolute;
    left: -3%;
    top: 50%;
}

/* Card */
.card-title {
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
}
.card-text {
    font-family: 'Roboto';
    font-weight: 600;
    text-align: center;
}

/* Title Section */
#title {
    background-color: #ffd31d;
    padding: 5%;
}

/* News Section */
#news {
    padding: 7% 15%;
}

.feature-box {
    padding: 2%;
}

/* Promotion Section */
#promotion {
    padding: 7% 15%;
    text-align: center;
    background-color: #ffd31d;
}

/* Product Section */
#product {
    padding: 7% 15%;
    text-align: center;
}
.product-col {
    padding: 3% 2%;
}

/* Location Section */
#location {
    background-color: #ffd31d;
    padding: 7% 15%;
    text-align: center;
}

/* Contact Section */
#contact {
    padding: 3% 15%;
    text-align: center;
}